/* section three starts or section my work */
section.section-three{
  background-color: var(--color-black);
  color: var(--main-color);
  width: 100%;
  margin-top: 50px;
}

section.section-three .section-three-content-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px;
  width: 60%;
  margin: 0 auto;
  margin-top: 40px;
}

.section-three-content-wrap .col{
  position: relative;
  flex: 1 1 33%;
  margin-top: 50px;
  background-color: #024e76;
  color: var(--color-white);
  padding: 10rem 6rem;
  text-align: center;
  border-radius: var(--border-radius);
  cursor: pointer;
  box-shadow: 0px 0px 10px var(--main-color);
  z-index: 100;
}

.section-three-content-wrap .col.run-buddy::before{
  content: "";
  height: 100%;
  width: 100%;
  background-image: url('../../images/runBudy.png');
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  opacity: 30%;  
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--border-radius);
  z-index: -1;
}


.section-three-content-wrap .col.video-gallery::before{
  content: "";
  height: 100%;
  width: 100%;
  background-image: url('../../images/videoGallery.png');
  background-position: center;
  background-repeat:no-repeat;
  opacity: 30%;  
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--border-radius);
  z-index: -1;
}


.section-three-content-wrap .col.todo-list::before{
  content: "";
  height: 100%;
  width: 100%;
  background-image: url("../../images/todo\ list.png");
  opacity: 30%;  
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--border-radius);
  z-index: -1;
}


.section-three-content-wrap .col.coffee-website::before{
  content: "";
  height: 100%;
  width: 100%;
  background-image: url('../../images/coffeeWebsite.png');
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  opacity: 30%;  
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--border-radius);
  z-index: -1;
}


.section-three-content-wrap .col.task-list::before{
  content: "";
  height: 100%;
  width: 100%;
  background-image: url('../../images/todo\ list.png');
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  opacity: 30%;  
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--border-radius);
  z-index: -1;
}

.section-three-content-wrap .col.color-changing::before{
  content: "";
  height: 100%;
  width: 100%;
  background-image: url('../../images/colorChanging.png');
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  opacity: 30%;  
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--border-radius);
  z-index: -1;
}

.section-three-content-wrap .col.weather-recipe::before{
  content: "";
  height: 100%;
  width: 100%;
  /* background-image: url('../../images/readme.gif'); */
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  opacity: 30%;  
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--border-radius);
  z-index: -1;
}


.section-three-content-wrap .col.scheduler::before{
  content: "";
  height: 100%;
  width: 100%;
  background-image: url('../../images/Schedule.png');
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  opacity: 30%;  
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--border-radius);
  z-index: -1;
}



.section-three-content-wrap .col:hover{
  background-color: var(--color-black);
  color: var(--main-color);
}

.section-three-content-wrap .col:active{
  background-color: var(--color-white);
  color: var(--color-black);
}

.section-three-content-wrap .col h4{
  font-size: 32px;
  font-weight: bolder;
}

.section-three-content-wrap .col p{
  font-size: 20px;
  margin-top: 25px;
  color: var(--color-white);
}

.section-three-content-wrap .col .btn{
  margin-top: 5rem;
  display: inline-block;
  padding: .9rem 3rem;
  font-size: 1.3rem;
  background: var(--color-black);
  cursor: pointer;
  text-align: center;
  border-radius:100px;
  border: 1px solid var(--color-black);
}

.section-three-content-wrap .col .btn a{
  display: flex; /* i displayed it as flex to add padding whithout effecting the text positioning. this will allow us whenever we click the outside of the a tag it will still run the click */
  text-align: center;
  align-items: center;
  padding: 0 20px 0 20px;
  color: var(--color-white);
}

.section-three-content-wrap .col:active .btn{
  background-color: var(--color-black);
}
.section-three-content-wrap .col:active .btn a{
  color: var(--color-white);
}

.section-three-content-wrap .col:hover button{
  background-color: var(--color-black);
  border: 1px solid var(--color-white);
}

.section-three-content-wrap .col:hover button a{
  color: var(--main-color);
}

.section-three-content-wrap .col .btn a{
  text-decoration: none;
}













/* media query starts */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media (max-width: 980px) {

  header h1{
    font-size: 20px;
  }

  header h2 {
    font-size: 28px;
  }

  header ul li a{
    font-size: 18px;
  }

  .section-two{
    margin-top: 50px;
    color: var(--main-color);
    width: 100%;
  }
  

  .section-two-content .image{
    opacity: 60%;
    width: 50%;
    margin-top: 5px;
    flex: 1 70%;
  }
  
  .section-two-content .image img {
    border-radius: var(--border-radius);
    width: 100%;
  }
  
  .section-two-content .section-two-content-context {
    flex: 0 30%;
    width:100%;
    text-align: center;
    color: var(--color-white);
  }
  
  .section-two-content-context p{
    font-size: 12px;
  }
  
  .about-me-context {
    border-bottom: none;
    border-radius: var(--border-radius);
  }
  
  .about-me-context h4{
    margin-bottom: 10px;
    color: var(--main-color);
    font-size: 20px;
  }
  
  .bellow{
    font-size: 10px;
  }

}




/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

  /* header start */
  header h1{
    font-size: 16px;
  }

  header h2 {
    font-size: 22px;
  }

  header ul li a{
    font-size: 14px;
  }


/* section three start */
.section-two-content {
  display: flex;
  flex-direction: column;
  flex: 100%;
}

.section-two-content .image{
  padding: 45px;
  margin-top: 55px;
  flex:100%;
  opacity: 100%;
  width: 100%;
}

.section-two-content-context{
  border:  5px solid black;
  flex: 100%;
  width: 100%;
  padding: 25px;

}
  
.about-me-context h4{
  margin-bottom: 10px;
  color: var(--main-color);
  font-size: 32px;
}


.section-two-content-context p{
  font-size: 15px;
}
  
.about-me-context {
    border-bottom: none;
    border-radius: var(--border-radius);
}

.bellow{
    font-size: 25px;
}


/* section three starts or section my work */
.section-three-content-wrap .col{
  flex: 100%;
}
     
.section-three-content-wrap .col{
  padding: 5rem 3rem;
}

.section-three-content-wrap .col .btn{
  margin-top: 3rem;
  padding: .5rem .2rem;
}

.section-three-content-wrap .col .btn a{
  font-size: 15px;
}

/* section four start */
.section-four-context {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 55px;
  padding: 10px;
}

.section-four-context-content {
  margin:10px;
   width: 100%;
}

.section-four-context-content:nth-child(1)  {
  margin-top: 24px;
}

.section-four-context-content:nth-child(3){
  margin-top: 25px;
}
  
.section-four-context img {
  border-radius: var(--border-radius);
  border: 2px solid var(--main-color);
  cursor: pointer;
  margin-bottom: 20px;
}
  
.section-four-context img:hover{
  width: 100px;
}
  
.section-four-context h5{
  font-size: 20px;
  margin-bottom: 15px;
}
  
.section-four-context p {
  font-size: 13px;
}

.section-four-context-content img{
  width: 70px;
}

}

/* section one starts */
section.section-one{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.section-one-content{
  margin-top: 35px;
  padding: 100px;
}
.section-one-content h2{
  font-size: 65px;
  text-align: center;
  color: transparent;
}

.section-one-content p{
  color: rgb(245, 236, 223);
  font-size: 35px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.section-one-content-p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-one-content-p .border{
  width: 150px;
  background-color:var(--white);
  height: 1.5px;
  margin: 10px;
}

.section-one-content button{
  padding: 15px; 
  border: 2px solid red;
  border-radius: 100px;
  cursor: pointer;
  display: hidden;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-one-content button a{
  color: rgb(241, 2, 241);
  font-size: 20px;
  text-decoration: none;
  padding: 20px;
}


.section-one-content button:hover  {
  background-color: var(--main-color);
}

.section-one-content button:hover a{
  color: var(--color-black);
} 





/* media queries starts */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media (max-width: 980px) {

  .section-one-content p{
    font-size: 30px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 25px;
}

  .section-one-content h2{
    font-size: 55px;
    text-align: center;
    color: white;
    margin-bottom: 100px;
}

}


/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

  .section-one-content p{
    font-size: 25px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 25px;
}

  .section-one-content h2{
    font-size: 35px;
    text-align: center;
    color: white;
    margin-bottom: 100px;
}

  
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

  .section-one-content p{
      font-size: 25px;
      text-align: center;
  }

  .section-one-content h2{
    font-size: 35px;
    text-align: center;
    color: white;
    margin-bottom: 100px;
}
}




/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

/* header start */
header{
  display: flex;
  flex-direction: column;
}

header ul{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    justify-content:center;
    margin-bottom: 25px;
  }

header ul li{
    margin-bottom: 10px;
}

header ul li:hover{
    background-color: var(--color-black);
    color: var(--main-color);
    padding: 10px;
    border-radius: var(--border-radius);
}

  header ul li a{
    font-size: 22px;
  }

  
  header h1{
    font-size: 32px;
  }

  header h2{
    font-size: 38px;
  }

  .navbar li a:hover{
    color:var(--main-color);
    border-bottom: none;
    padding-bottom: .5rem;
    letter-spacing: .3px;
  }


/* section three start */
  .section-two-content {
    display: flex;
    flex-direction: column;
    flex: 100%;
  }
  
  .section-two-content .image{
    flex:100%;
    opacity: 80%;
    width: 100%;
    margin-top: 5px;
  }

  .section-two-content-context{

    flex: 100%;
    width: 80%;
  }


  .about-me-context {
    padding: 25px;
    border-bottom: none;
    border-radius: var(--border-radius);
    border:  2px solid var(--main-color);
  }
  
  .about-me-context h4{
    margin-bottom: 10px;
    color: var(--main-color);
    font-size:32px;
  }
  
  .bellow{
    font-size: 12px;
  }

  /* section three starts or section my work */
.section-three-content-wrap .col{
  padding: 3rem 2rem;
}

.section-three-content-wrap .col .btn{
  margin-top: 5rem;
  display: inline-block;
  padding: .6rem 1rem;
  font-size: .8rem;
  background: var(--color-black);
  cursor: pointer;
  text-align: center;
  border-radius:100px;
  border: 1px solid var(--color-black);
}

.section-three-content-wrap .col .btn a{
  display: flex; /* i displayed it as flex to add padding whithout effecting the text positioning. this will allow us whenever we click the outside of the a tag it will still run the click */
  text-align: center;
  align-items: center;
  padding: 0 20px 0 20px;
  color: var(--color-white);
}


/* section four start */
.section-four-context {
    display: flex;
   flex-direction: column;
   text-align: center;
   justify-content: center;
}
  
.section-four-context-content {
    width: 100%;
    text-align: center;
    padding: 10px;
    border: 1px solid var(--main-color);
    border-radius: var(--border-radius);
}


.section-four-context img {
    border-radius: var(--border-radius);
    border: 2px solid var(--main-color);
    cursor: pointer;
    margin-bottom: 20px;
  }
  
.section-four-context img:hover{
  width: 80px;
  }
  
.section-four-context h5{
    font-size: 17px;
    margin-bottom: 15px;
  }
  
.section-four-context p {
    font-size: 13px;
  }

.section-four-context-content img{
    width: 70px;
  }

}

